



/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;

  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url('../fonts/poppins/Poppins-SemiBold.ttf'); 
}




/*//////////////////////////////////////////////////////////////////
[ RESTYLE TAG ]*/

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Arial, Helvetica, sans-serif;

}



/*---------------------------------------------*/
a {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
	transition: all 0.4s;
	-webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
	outline: none !important;
}


/*---------------------------------------------*/
h1,h2,h3,h4,h5,h6 {
	margin: 0px;
}

p {
	font-family: Poppins-Regular;
	font-size: 14px;
	line-height: 1.7;
	color: #666666;
	margin: 0px;
}

ul, li {
	margin: 0px;
	list-style-type: none;
}


/*---------------------------------------------*/


#user{
  height: 40%;
  width: 40%;

}




.container-login100 {
  width: 100%;  
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-image: url('../images/fondo.jpg');
  background-size: cover;
  background-position: center;
}

.wrap-login100 {

  width: 390px;
  box-shadow: 0 8px 32px rgba(139, 127, 127, 0.37);
  backdrop-filter: blur(50px);
  border-radius: 10px;
  overflow: hidden;
  padding: 50px 50px 50px 50px;


}


/*------------------------------------------------------------------
[ Form ]*/

.login100-form {
  width: 100%;
}

.login100-form-title {
  display: block;
  font-family: Arial, Helvetica, sans-serif;

  font-size: 30px;
  color: #000000;
  line-height: 1.2;
  text-align: center;
}
.login100-form-title i {
  font-size: 60px;
}

/*------------------------------------------------------------------
[ Input ]*/

.form-group {
  width: 100%;
  position: relative;

  margin-bottom: 37px;
}




/*---------------------------------------------*/
.btn-show-pass {
  font-size: 20px;
  color: #000000;
  display: flex;
  align-items: center;
  position: absolute;
  height: 100%;
  top: 20%;
  right: 0;
  padding-right: 5px;
  cursor: pointer;
}






#efecto{
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
#efecto:hover:hover{
  color: rgb(0, 153, 153);
  cursor: pointer;
}
a:link{
  text-decoration: none;
}


/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-login100 {
    padding: 77px 15px 33px 15px;
  }
}







